---
import { skills } from "@cv";
import Section from "../Section.astro";
import { Icon } from "astro-icon/components";
---

<Section title="Habilidades">
    <ul>
        {
            skills.map(({ name, icon }) => {
                return (
                    <li>
                        {Icon && <Icon name={icon} />} <span>{name}</span>
                    </li>
                );
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        align-items: center;
        background: #eee;
        border-radius: 6px;
        color: black;
        display: flex;
        font-size: 0.8rem;
        font-weight: 500;
        gap: 4px;
        padding: 0.2rem 0.6rem;
    }

    @media (width <=700px) {
        ul {
            display: inline-flex;
            gap: 8px;
            flex-wrap: wrap;
        }
    }
</style>
