---
import About from "@sections/About.astro";
import Hero from "@sections/Hero.astro";
import Proyects from "@sections/Proyects.astro";
import Layout from "../layouts/Layout.astro";
import Keyboard from "@/components/Keyboard.astro";
import Education from "@/components/sections/Education.astro";
import DevSkills from "@/components/sections/DevSkills.astro";
import WorkExperience from "@/components/workExperience.astro";
import CustomSkills2 from "@/components/sections/CustomSkills2.astro";
---

<Layout title="Minimalist Portfolio">
	<main>
		<Hero />
		<About />
		<Education />
		<DevSkills />
		<WorkExperience />
	</main>
	<Keyboard />
</Layout>
