---
import About from "@sections/About.astro";
import Hero from "@sections/Hero.astro";
import Proyects from "@sections/Proyects.astro";
import Layout from "../layouts/Layout.astro";
import WorkExperience from "@/sections/workExperience.astro";
import Education from "@/sections/Education.astro";
import Skills from "@/sections/Skills.astro";
import Keyboard from "@/components/Keyboard.astro";
---

<Layout title="Minimalist Portfolio">
	<main>
		<Hero />
		<About />
		<WorkExperience />
		<Education />
		<Proyects />
		<Skills />
	</main>
	<Keyboard/>
</Layout>
